<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Documento Info Quinigold</title>
</head>

<body style="background-color: hsla(0,0%,93%,1); font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; width:100%;">
    <div style="border-radius: 30px; background-color:rgb(120, 120, 120); width:100%;">
		<div style="margin-left: 5%; margin-right: 5%;">
        <img src="http://www.quinigold.com/static/resources/_include/img/quinigold.png" alt="" width="100%" height="100%" id="logo"/>
        ##<img style="width:100%;" src="http://www.goldbittle.es/LOGO.png" alt="QuiniGold" id="logo"/>
        <div style="border-left: thick none hsla(0,0%,32%,0.93); border-right: thick none hsla(0,0%,32%,0.93); border-bottom: thick dotted hsla(0,0%,32%,0.93);	border-top: thick dotted hsla(0,0%,32%,0.93); border-radius: 30px; margin-top: 5px; width:100%;">
		  <div style="margin-left: 5%; margin-right: 5%;">
		  <p style="width:100%; max-height: none; max-width: 100%; text-align: :justify; font-size: large;">
          Hola Quinigolder,<br><br>
          Tu saldo actual es de ${currentBalance}€ y es inferior a tus apuestas habituales.<br><br>
          Si quieres seguir jugando en QuiniGold tendrás que actualizarlo.<br><br>
          Gracias por tu confianza.
          </p>
		  </div>
        </div>
        <div style="width:100%;">
          <p style="width:100%; margin-left: 5%; margin-right: 5%;  max-height: none; max-width: 100%; text-align: justify; font-size: large;">
            QuiniGold<br>
            http://www.quinigold.com
        	<br><br>
          </p>
        </div>
		</div>
    </div>
</body>
</html>
